TC_AUTH0_CLIENT=foo
TC_AUTH0_SECRET=bar
STORAGE_PROVIDER=S3
AWS_KEY=foo
AWS_SECRET=bar
AWS_BUCKET=foo
AWS_REGION=bar
AUTH_DISABLED=false
TC_WWW_URL=http://localhost
TC_PROJECT_BASE_URL=http://localhost
TC_API=https://qa.topcoder.com
CHALLENGE_API=http://lc1-challenge-service.herokuapp.com