<div>
  <!--sub headers-->
  <header class="sub-header">
    <div class="ui-container">
        <!--actions-->
        <div class="actions desktop" ng-switch on="vm.readyToAnnounce" ng-hide="vm.challenge.status === 'COMPLETE'">
            <a ng-if="!vm.readyToAnnounce" ng-click="vm.initiateAnnounceWinners()" class="btn" style="width:180px">Announce Winners</a>
            <a ng-if="vm.readyToAnnounce" data-toggle="modal" data-target="#myModal" class="btn" style="width:180px">Announce Winners</a>
        </div>
        <!--title-->
        <div>
          <h3>
            <i class="fa fa-file-archive-o"></i>Submissions
          </h3>
          <!-- /* TODO (BG: 10/22/2014): make breadcrumb an Angular component */ -->
          <!--breadcrumb-->
          <span class="aaf-sa-breadcrumb"><a ng-href="{{vm.tcChallengeDetailsUrl(vm.challenge)}}" target="_blank">{{vm.challenge.title}} <i class="fa fa-sm fa-external-link-square"></i></a> / Submissions</span>
        </div>
    </div>
  </header>
  <div class="ui-container">
    <alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.closeAlert($index)" >{{alert.msg}}</alert>
    <table data-ng-table="vm.tableParams" class="table subAppTable {{browser==='safari'?'safari':''}}">
      <thead>
      <tr>
          <th class="checkAll">
                  &nbsp;
          </th>
          <th class="sortable" data-ng-class="{
              'sort-asc': vm.tableParams.isSortBy(header.col, 'asc'),
              'sort-desc': vm.tableParams.isSortBy(header.col, 'desc')
            }" data-ng-repeat="header in vm.columnHeaders"><div data-ng-click="vm.tableParams.sorting(header.col, vm.tableParams.isSortBy(header.col, 'asc') ? 'desc' : 'asc')">{{header.colName}}<i></i></div></th>
          <th data-ng-if="!phone" class="text-center" colspan="3"><div>Action</div></th>
      </tr>
      </thead>
      <tbody data-ng-repeat="submission in $data">
          <tr data-ng-class="{warning: (vm.alerts.length > 0 && submission.scorecard.status !== 'SUBMITTED'), odd: (!$odd && vm.alerts.length < 1)}">
              <td>
                  &nbsp; {{vm.tableParams.total | json}}
              </td>
              <td data-ng-if="phone" class="text-left" data-sortable="'col1'">
                  <a href="javascript:void(0);" class="add-btn {{submission.expand?'expand':''}}" data-ng-click="toggleExpand(submission)"></a>
              </td>
              <td class="text-left" data-sortable="'submission.id'">
                  {{submission.id}}
              </td>
              <td class="text-left" data-sortable="'submission.updatedAt'">
                  {{submission.updatedAt | date:'MMM dd yyyy HH:mm a (Z)' }}
              </td>

              <td class="text-left" data-sortable="'submission.scorecard.reviewerHandle'">
                  <a ng-href="{{vm.tcMemberProfileUrl(submission.scorecard.reviewerHandle)}}" target="_blank">{{submission.scorecard.reviewerHandle}}</a>
              </td>

              <td class="text-left" data-sortable="'submission.scorecard.scorePercent'">
                  {{(submission.scorecard.scorePercent || 0).toFixed(1)}}
              </td>
              <td data-ng-if="!phone" class="text-left" data-sortable="'status'">
                  {{submission.scorecard.statusDisplay || 'New'}}
              </td>
              <!-- TODO: logic for actions -->
              <td data-ng-if="!phone" class="action-btn">
                  <!-- use download attribute to do download -->
                  <a href="{{submission.file.fileUrl}}" download class="fa fa-2x fa-download" title="Download Submission"></a>
              </td>
               <td data-ng-if="!phone" class="action-btn">
                  <a ng-if="!submission.scorecard.id" href="#/challenges/{{vm.challenge.id}}/submissions/{{submission.id}}/new" class="fa fa-2x fa-check-square-o" title="Create Scorecard"></a>
                  <a ng-if="submission.scorecard.id" href="#/challenges/{{vm.challenge.id}}/submissions/{{submission.id}}/scorecard/{{submission.scorecard.id}}/edit" class="fa fa-2x fa-check-square" title="Review Scorecard"></a>
              </td>
          </tr>
      </tbody>
    </table>
    <!--end table-->
    <div class="custom-pager">
        <span data-ng-if="!phone" class="label">Showing items <b>1-{{vm.tableParams.total()}}</b> of <b>{{vm.tableParams.total()}}</b></span>
    </div>

   <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
           <div class="modal-content">
               <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                   <h4 class="modal-title" style="float: left">Lock in Winners and Finish Challenge</h4>
               </div>
               <div class="modal-body">
                   <table id="score-list" class="table table-striped">
                       <thead>
                       <tr>
                           <th>Place</th>
                           <th>Prize</th>
                           <th>Submission ID</th>
                           <th>Score</th>
                           <th class="checkAll">Pay</th>
                       </tr>
                       </thead>
                       <tbody data-ng-repeat="payout in vm.payouts">
                       <tr data-ng-class="$odd?'odd':''">
                           <td class="text-left prize-icon">
                               {{payout.place}}
                           </td>
                           <td class="text-left">
                               {{payout.prize | noFractionCurrency }}
                           </td>
                           <td class="text-left">
                               {{payout.submissionId}}
                           </td>
                           <td class="text-left">
                               {{payout.scorePercent | number:1}}
                           </td>
                           <td>
                               <input type="checkbox" ng-model="payout.pay" ng-disabled="!payout.submissionId">
                           </td>

                       </tr>
                       </tbody>
                       <tfoot>
                       </tfoot>
                   </table>

               </div>
               <div class="modal-footer">
                   <button ng-click="vm.cancelWinners()" type="button" class="btn-default btn" data-dismiss="modal">Cancel</button>
                   <button ng-click="vm.confirmWinners()" type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
               </div>
           </div><!-- /.modal-content -->
       </div><!-- /.modal-dialog -->
   </div>


  </div>
</div>
