<div>
  <!--sub headers-->
  <header class="sub-header">
    <div class="ui-container">
    <!--  removed actions here -->
      <div>
        <!-- <h3 class="aaf-sa-subappname">
          Scorecard for your submission to  ‘{{vm.challenge.title}}’
        </h3>
         <h5 class="aaf-sa-subappname">
          Reviewd by "Reviewer Name and Date Here"
        </h5> -->
        <h3 class="aaf-sa-subappname">
          <i class="fa fa-check-square-o"></i>Scorecard
        </h3>
        <!-- /* TODO (BG: 10/22/2014): make breadcrumb an Angular component */ -->
        <!--breadcrumb-->
        <span class="aaf-sa-breadcrumb"><a ng-href="{{vm.tcChallengeDetailsUrl(vm.challenge)}}" target="_blank">{{vm.challenge.title}} <i class="fa fa-sm fa-external-link-square"></i></a> / <a ng-href="/manage/#/challenges/{{vm.challenge.id}}/submissions">Submissions</a> / {{vm.scorecard.submissionId}} / Scorecard / {{vm.scorecard.id}}</span>
      </div>
    </div>
  </header>
  <div class="ui-container">
    <!-- <h2>  this will become the read only view scoreacard (remove me)</h2> -->
    <table data-ng-table="vm.tableParams" class="table subAppTable {{browser==='safari'?'safari':''}}">
      <thead>
        <tr>
          <th class="checkAll">
            &nbsp;
          </th>
          <th data-ng-repeat="header in vm.columnHeaders">
            <div>{{header.colName}}</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="scoreItem in $data" data-ng-class="{warning: (vm.alerts.length > 0 && scoreItem.score === -1), odd: (!$odd && vm.alerts.length < 1)}" >
          <td>
            &nbsp;
          </td>
          <td class="text-left ng-binding">
            <!-- <h4> -->
              <!-- {{scoreItem.id}}&nbsp; -->
              {{$index + 1}}
            <!-- </h4> -->
          </td>
          <td class="text-left ng-binding">
          <div>
            <h4>
              {{scoreItem.requirement.requirementText}}
            </h4>
          </div>
          <div class="nik-user-comment" data-ng-if="needToShowComment(scoreItem)">
               <span style="padding-left: 5px !important; color: #555;"> <i>{{scoreItem.comment}}</i></span>
          </div>
          </td>

          <td>
        <!-- {{$index}} -->
           <span ng-if="scoreItem.score >= 0">
            <b class="ng-binding">{{scoreItem.score}}</b>/4
          </span>
          </td>
          <!-- <td data-ng-if="!phone&&needToShowComment(scoreItem)" class="text-left" data-sortable="'col4'">
            <a>1 comment<a>
          </td> -->
        </tr>
      </tbody>
    </table>
    <!--end table-->
    <div class="text-right">
      <h3> Total Score: {{vm.totalScore}}/{{vm.outOfScore}}   ({{vm.scorecard.scorePercent}}%)</h3>

    </div>
    <br>

  </div>
</div>
